# Dependencies
node_modules/
.pnpm-store/

# Astro
.astro/
dist/

# OS
.DS_Store

# Environment
.env
.env.*

# TinaCMS (auto-generado por `pnpm tina:dev` / `tinacms build`)
tina/__generated__/
public/tina-admin/
